<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="view.js"></script>

</head>
<body>
    <h1>patient</h1>
    <div class = "formRegister">
        <div id="registerPatient">
        
        <form action="#">
            <input placeholder="Nombre" type="text" required />
            <input placeholder="Apellido" type="text" required />
            <select name="docType">
                <option value="Cedula">Cedula</option>
                <option value="Tarjeta identidad">Tarjeta identidad</option>
                <option value="Pasaporte">Pasaporte</option>
            </select>
            <input placeholder="Número documento" type="number" required />
            <input placeholder="Fecha de nacimiento" type="date" required />
            <input placeholder="Talla" type="text" required />
            <input placeholder="Peso" type="text" required />

            <input class="subBtn" type="submit" />
            <input class="resBtn" type="reset" />
         </form>
        </div>
    </div>
    <div class = "container">
    <table style="width: 50%;" border="1" cellpadding="1">
        <tbody id ="dataResp">

        </tbody>
    </table>
    </div>

    
</body>
</html>